body {
    /*background-image: url(img/zapato-1.jpg); */
    background-size: 100% 120%;

    margin: 10px;
    height: 80vh;
}

img {
    line-height: 0;
    border-top-left-radius: 15px;
}

.container {
    display: inline-flexbox;
    background-color: white;
    width: 55em;
    height: 32em;
    margin: auto;
    padding: 0px;
    margin-top: 70px;
    border-radius: 20px 0px 20px 0px;
    margin-bottom: 20px;
    box-shadow: 2px 8px 20px rgb(183, 134, 60);
}

.container2 {
    font-family: 'Lobster', cursive;
    background-color: white;
    width: 21em;
    height: 23em;
    margin: auto;
    margin-top: 65px;
    border-radius: 8px;
    margin-bottom: 29px;
    margin-left: 100px;
    box-shadow: -1px 1px 1px rgb(211, 203, 205);
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
     float:right;
}


h1 {
    font-size: 50px;
    font-family: "Tangerine";
    color: black;
    padding-left: 150px;
    margin-top: 18px;
    margin-bottom: 10px;

}

h3 {
    font-size: 50px;
    margin-top: 20px;
    padding-left: 80px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
}

label {
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster', cursive;
}

span {
    color: #000000;
}

input {
    font-size: 20px;
    background-color: #fbfbfb;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.tipo {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 20px;
}

p {
    margin-left: 120px;
}

button {
    height: 45px;
    padding-left: 0px;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #000000;
    border-color: #030103;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    margin-left: 80px;
    padding-top: 0px;
    color: white;
}

@media screen and (max-width:910px) {

    .container {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        display: inline-block;
        height: 850px;
        align-items: center ;
    }

     .left {
        width: 100%;
        height: 280px;
        vertical-align: top;
    }

    .container .left>img {
        width: 400px;
        align-items: center;
        display: block;
        margin: auto;
    }

    .right {
        width: 100%;
        vertical-align: bottom;
        margin-top: 50px;
    }

}
